html, body {
    height:100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    height:100%;
    background-color:rgb(33,33,33);
}
.nav-bg-dark {
    background-color:rgb(26,26,26);
}
.nav-bg-border {
    border:0;
    border-bottom:1px ridge #1976d2!important;
}
.nav-bg-link.active {
    background-color:#000!important;
    border-bottom:0!important;
    border-top:0!important;
    border-right:1px ridge #1976D2!important;
    border-left:1px ridge #1976D2!important;
}
.nav-bg-link:hover {
    background-color:#000!important;
    border-top:0!important;
    border-bottom:1px ridge #1976D2!important;
    border-right:1px ridge #1976D2!important;
    border-left:1px ridge #1976d2!important;
}
.border-blue-left {
    border-left:1px solid #1976D2;
}
.border-blue-right{
    border-right:1px solid #1976D2;
}
.social-light {
    color:#fff;
}
.social-light:hover {
    color:rgba(255,255,255,.7);
}
/* Body-Card-Content */
.card-bg-dark{
    background-color:rgb(33,33,33)!important;
    height:91vh;
}
.card-img-size-box{
    min-width:20rem!important;
}
.card-img-size{
    height:24rem;
    object-fit:fill;
}
.card-link {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.card-link:hover {
    box-shadow:-0.2rem 0.255rem 0.5rem 0 #1976d2;
    -webkit-transform: translate(.2rem,.1rem);
    -moz-transform: translate(.2rem,.1rem);
    -o-transform: translate(.2rem,.1rem);
    -ms-transform: translate(.2rem,.1rem);
    transform:translate(.2rem, .1rem);
}
.card-link a{
    color:#fff;
    text-decoration:none;
    transition: .3s ease-in-out;
}
.card-link a:hover {
    color:#1976D2;
}
.card-title-h5{
    color:#fff;
}
